<?xml version='1.0' encoding='UTF-8'?>
<!-- Automated customization performed on RKVBGSBUILD18: 2024-06-13 01:41:05 -->
<!-- Automated customization performed on RKVBGSBUILD50: 2024-06-13 03:57:38 -->
<Game configVersion="1">
  <!-- Copied from Config\PC\MicrosoftGame.Config for Platform: Gaming.Desktop.x64 | Configuration: Release Profile -->

	<Identity Name="BethesdaSoftworks.ProjectGold" Publisher="CN=21E520D9-F467-4438-A16E-79ADDBE4ECB1" Version="1.12.32.0"/>

	<!-- Opt into requiring a default user at launch. In a future GDK release this will be the default. -->
	<AdvancedUserModel>false</AdvancedUserModel>

	<TitleId>7bf72399</TitleId>
	<MSAAppId>000000004C6F3642</MSAAppId>

	<StoreId>9NCJSXWZTP88</StoreId>

	<VirtualMachine>
		<!-- Options(Default=Standard): Standard = 10 GB Advanced = 13 GB -->
		<XboxAnacondaTitleMemory>Advanced</XboxAnacondaTitleMemory>
		<SMTEnabled>true</SMTEnabled>
	</VirtualMachine>

	<ExecutableList>
		<Executable Name="Starfield.exe" Id="Game" TargetDeviceFamily="PC" OverrideSquare44x44Logo="Config\Images\TaskBarIcon.png"/>
		</ExecutableList>

	<ShellVisuals DefaultDisplayName="Starfield" PublisherDisplayName="Bethesda Softworks" Description="Starfield" StoreLogo="Config\Images\LogoStore100x100.png" Square480x480Logo="Config\Images\Logo480x480.png" Square150x150Logo="Config\Images\Logo150x150.png" Square44x44Logo="Config\Images\Logo44x44.png" SplashScreenImage="Config\Images\SplashScreen1920x1080.png"/>

	<MSAFullTrust>true</MSAFullTrust>

	<Resources>
		<Resource Language="en-us"/>
		<Resource Language="fr-CA"/>
		<Resource Language="fr-FR"/>
		<Resource Language="fr-BE"/>
		<Resource Language="fr-CH"/>
		<Resource Language="es-AR"/>
		<Resource Language="es-CL"/>
		<Resource Language="es-CO"/>
		<Resource Language="es-ES"/>
		<Resource Language="es-MX"/>
		<Resource Language="pl-PL"/>
		<Resource Language="pt-BR"/>
		<Resource Language="de-AT"/>
		<Resource Language="de-DE"/>
		<Resource Language="de-CH"/>
		<Resource Language="it-IT"/>
		<Resource Language="ja-JP"/>
		<Resource Language="zh-CN"/>
	</Resources>

	<PersistentLocalStorage>
		<GrowableToMB>102400</GrowableToMB>
	</PersistentLocalStorage>

	<DevelopmentOnly>
		<ContentIdOverride>FF5F9AFB-A689-44D8-85CD-06CF9139122E</ContentIdOverride>
		<DebugNetworkPortList>
			<!-- BSSystemMonitor::SocketPortSC -->
			<DebugNetworkPort>9996</DebugNetworkPort>
			<!-- Default Havok VDB Port -->
			<DebugNetworkPort>25001</DebugNetworkPort>
			<!-- Live Shader Debugging -->
			<DebugNetworkPort>4711</DebugNetworkPort>
			<!-- Wwise Profiler Comms -->
			<DebugNetworkPort>24024</DebugNetworkPort>
			<DebugNetworkPort>24025</DebugNetworkPort>
			<DebugNetworkPort>24026</DebugNetworkPort>
		</DebugNetworkPortList>
	</DevelopmentOnly>

	<DesktopRegistration>
		<DependencyList>
			<KnownDependency Name="VC14"/>
		</DependencyList>
	</DesktopRegistration>

</Game>
